/* font-family: "Roboto Condensed", sans-serif;  */
/* font-family: 'Roboto Slab', serif; 
 background-color: rgb(110, 110, 110);
 below is for footer
 background-color:#f8f9fa;*/
:root {
  --background: #e4e2e0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background: var(--background);
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
header {
  background-color: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
nav a {
  color: #212121;
  text-decoration: none;
  font-size: 1.2rem;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: #212121;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #ffffff;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span.vis,
.nav-toggle-label span.vis::before,
.nav-toggle-label span.vis::after {
  display: block;
  background: #212121;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span.vis::before,
.nav-toggle-label span.vis::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span.vis::before {
  bottom: 7px;
}
.nav-toggle-label span.vis::after {
  top: 7px;
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label span.X {
  display: none;
}
main #controls label p {
  display: none;
}
main #bullets label p {
  display: none;
}
main h1 {
  text-align: center;
}
main .top-about {
  display: flex;
  text-align: center;
}
main .top-about img {
  height: 200px;
  width: 300px;
  text-align: center;
  margin-left: -3em;
  margin-right: -3em;
}
main .top-about p {
  margin-top: 4em;
  max-width: 16em;
}
main .top-about p.about-left {
  margin-left: 1em;
}
main .top-about p.about-right {
  margin-left: -3em;
}
main .my-images {
  display: flex;
  flex-direction: column;
}
main .my-images img {
  height: 400px;
  width: 400px;
  margin: 1em;
}
main p.my-photos {
  font-weight: 800;
  font-size: xx-large;
  text-align: center;
}
main .my-images img:hover {
  height: 500px;
  width: 500px;
  transition-duration: 250ms;
}
footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #323a45;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  margin-top: auto;
}
footer .socials a img {
  width: 30px;
  height: 30px;
}
footer .logo-footer {
  text-align: center;
  margin-top: 20%;
}
footer .contact-form .submission-form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
}
footer .contact-form .submission-form label {
  display: block;
}
footer .contact-form .submission-form input,
textarea {
  display: block;
  width: 100%;
}
#sendBtn {
  border: 0;
  background-color: #205493;
  padding: 1rem;
  color: white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
}
#sendBtn:hover {
  background-color: #0575ff;
}
footer .about {
  margin-left: 1em;
}
footer .about a {
  text-decoration: none;
  color: #ffffff;
}
.about a:hover {
  color: rgb(0, 0, 0);
}
.site-map {
  grid-column: 2 / 3;
}
.site-map p {
  margin-left: 2em;
}
.site-map ul {
  list-style: none;
  text-align: center;
}
.site-map ul li {
  margin: 1em;
  text-align: center;
}
.site-map ul li a:hover {
  color: #000;
}
.site-map a {
  color: #ffffff;
  text-decoration: none;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.year-name p {
  margin: -0.15rem;
}
.year-name {
  display: block;
  text-align: center;
  background: #5b616b;
  color: #ffffff;
  margin-bottom: 0%;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
  }
  nav {
    all: unset;
  }
  header {
    margin: 0 auto;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav ul li {
    float: none;
    display: inline-block;
    margin: 0 1em;
  }
  nav ul {
    margin: auto;
    padding: 20px 0 0;
    list-style: none;
  }
  header nav ul:nth-child(1) {
    float: left;
  }
  header nav ul:nth-child(2) {
    float: right;
    margin-right: 1em;
  }
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: 1.5em;
    left: 0%;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
  main {
    width: 100%;
  }
  main .top-about img {
    height: 200px;
    width: 400px;
    text-align: center;
    margin-left: -5em;
    margin-right: -6em;
  }
  main .top-about p {
    margin-top: 4em;
    max-width: 17em;
  }
  main .top-about {
    display: flex;
    justify-content: center;
  }
  main .my-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main .my-images img {
    height: 350px;
    width: 350px;
    margin: 0.5em;
  }

  /* .logo:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(180deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(180deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(360deg);
    }
  } */
}
